<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create project</title>
</head>
<body>
<h1>This is a Project Entry form!</h1><hr>

<form method="post"> <!--action="{% url 'project:manager-project-view' %}"-->
    {% csrf_token %}

    <p>PROJECT NAME {{ form.project_name }}</p>
    <p>PROJECT DESCRIPTION {{ form.project_description }}</p>
    <p>OPPORTUNITY {{ form.opportunity }}</p>
    <p>PROJECT MANAGER {{ form.project_manager }}</p>
    <p>PROJECT PRICE {{ form.project_price }}</p>
    <p>PROJECT START DATE {{ form.project_start_date_time }}</p>
    <p>PROJECT END DATE {{ form.project_end_date_time }}</p>
    <p>TOTAL HOURS {{ form.project_total_working_hr }}</p>
    <p>CLIENT ID {{ form.client_id }}</p>
    <p>PROJECT EMPLOYEES {{ form.employees_per_project }}</p>
    <p>STATUS {{ form.status }}</p>

     <input type="submit" value="Submit" />
</form>


</body>
</html>