<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>

<style>

.topnav-left {
  float: center;
}
</style>

</head>
<body>
{% if user.is_authenticated %}

    <h1>My Projects!</h1><hr>
    <br><br>
    <table border="1">
        <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Project Head</th>
        <th>Status</th>
        <th>Actions</th>
        </thead>

        <tbody>
        {% for p in object_list %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.project_name }}</td>
            <td>--</td>
            <td>{{ p.status }}</td>
            <td>

                    {% csrf_token %}

                    <a href="{% url 'project:project-details' p.id %}"><button>View Details</button></a>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>

    <div class="topnav-left">
    <form><input type="submit"  formaction="{% url 'task:employee-task-list' %}" value="SEE MY TASKS"></form>
    </div>
{% else %}
    <div>You don't have permission</div>
{% endif %}

</body>
</html>