{% extends 'apps/users/templates/users/employee/emp_base.html' %}
{% load static %}

{% block extra-stylesheet %}
<link rel="stylesheet" href="{% static 'users/employee/css/project-list.css' %}">
{% endblock extra-stylesheet %}

{% block sidebar %}
        <div class="sidebar">
            <div class="bar-icon">
                <div class="bar-1-active"></div>
                <div class="bar-2-active"></div>
                <div class="bar-3-active"></div>
            </div>
            <img class="logo" src="{% static 'users/employee/images/Logo-1.png' %}">
            <ul class="list-unstyled">
                <li><img src="{% static 'users/employee/images/Dashboard icon.svg' %}"><span>Dashboard</span></li>
                <a href="#"><li style="top:58px" ><img src="{% static 'users/employee/images/Home icon.svg' %}"><span>Home</span></li></a>
                <a href="{% url 'project:employee-project' %}"><li style="top:117px" class="active"><img src="{% static 'users/employee/images/Projects icon.svg' %}"><span>Projects</span></li></a>
                <a href="#"><li style="top:175px"><img src="{% static 'users/employee/images/Attendance icon.svg' %}"><span>Attendance</span></li></a>
                <a href="#"><li style="top:234px"><img src="{% static 'users/employee/images/Salary Icon.svg' %}"><span>Salary</span></li></a>
                <a href="#"><li style="top:293px"><img src="{% static 'users/employee/images/Leave Req.. Icon.svg' %}"><span>Leave Request</span></li></a>
            </ul>
        </div>
{% endblock sidebar %}

{% block page_content %}
<div class="main-content ">
                <div class="row head">
                    <h4>Projects</h4>
                </div>

                <div class="row">
                    <div class="table-responsive major-container">
                        <div class=" bg-white">
                            <div class="row">
                                <span>
                                    <div class="row">
                                        <div class="main-info">
                                            <div class="row">
                                                <h5 class="heading">MY PROJECTS</h5>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>

                        <div class="table-container">
                            <div class="table-responsive project-details">
                                <table class="table table-lg text-center table-borderless">
                                    <thead class="thead-light">
                                        <tr>
                                        <th scope="col">S.NO</th>
                                        <th scope="col">PROJECT NAME</th>
                                        <th scope="col">PROJECT HEAD</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">ACTION</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for p in object_list %}

                                            <tr>
                                            <th scope="row">{{ p.id }}</th>
                                            <td>{{ p.project_name }}</td>
                                            <td>{{ p.project_manager }}</td>
                                            <td>{{ p.status }}</td>
                                            <td><a href="{% url 'project:project-details' p.id %}"><button>View Details</button></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pagination-container">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        </li>
                                        <li class="page-item active-link"><a class="page-link " href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock page_content %}

{% block extra-scripts %}
<script src="{% static 'users/employee/js/project-list.j' %}"></script>
{% endblock extra-scripts %}






































<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>My Projects</title>-->

<!--<style>-->

<!--.topnav-left {-->
  <!--float: center;-->
<!--}-->
<!--</style>-->

<!--</head>-->
<!--<body>-->
<!--{% if user.is_authenticated %}-->

    <!--<h1>My Projects!</h1><hr>-->
    <!--<br><br>-->
    <!--<table border="1">-->
        <!--<thead>-->
        <!--<th>Project ID</th>-->
        <!--<th>Project Name</th>-->
        <!--<th>Project Head</th>-->
        <!--<th>Status</th>-->
        <!--<th>Actions</th>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--{% for p in object_list %}-->
        <!--<tr>-->
            <!--<td>{{ p.id }}</td>-->
            <!--<td>{{ p.project_name }}</td>-->
            <!--<td>{{ p.project_manager }}</td>-->
            <!--<td>{{ p.status }}</td>-->
            <!--<td>-->

                    <!--{% csrf_token %}-->

                    <!--<a href="{% url 'project:project-details' p.id %}"><button>View Details</button></a>-->
                <!--</form>-->
            <!--</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
    <!--<br><br>-->

    <!--<div class="topnav-left">-->
    <!--<form><input type="submit"  formaction="{% url 'task:employee-task-list' %}" value="SEE MY TASKS"></form>-->
    <!--</div>-->
<!--{% else %}-->
    <!--<div>You don't have permission</div>-->
<!--{% endif %}-->

<!--</body>-->
<!--</html>-->