{% if user.is_authenticated %}
            <h1>Project Name: {{ object.project_name }}</h1>
            <h5>Description: {{ object.project_description }}</h5>
            <h5>Project start date: {{ object.project_start_date_time }}</h5>
            <h5>Project Deadline: {{ object.project_end_date_time|date }}</h5>
            <h5>Status: {{ object.status }}</h5>
            <h5>Team Members:

    {% for i in object.employees_per_project.all %}
        <ul><li>{{ i.username }}</li></ul>

    {% endfor %}</h5>


              {% else %}
    <div>You don't have permission</div>
{% endif %}

