<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager's Project view</title>
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>
<body>
<h1>Hi, Welcome to Project Manager's Project List!</h1><hr>
<div class="topnav-right">
<form><input type="submit"  formaction="{% url 'project:project-add' %}" value="CREATE NEW PROJECT"></form>
</div>
<table border="1">
    <thead>
    <th>Project Name</th>
    <!--<th>Project Description</th>-->
    <th>Project start date</th>
    <th>Project End date</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Actions</th>
    </thead>

    <tbody>
    {% for p in object_list %}
    <tr>
        <td><a href="{% url 'task:manager-task-view' p.id %}">{{ p.project_name }}</a></td>
        <!--<td>{{ p.project_description}}</td>-->
        <td>{{ p.project_start_date_time }}</td>
        <td>{{ p.project_end_date_time }}</td>
        <td>--</td>
        <td>{{ p.status }}</td>
        <td>

                {% csrf_token %}
                <a href="{% url 'project:project-details' p.id %}"><button>View</button></a>
                <a href="{% url 'project:project-update' p.id %}"><button>Edit</button></a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>