<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>My Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        {% endblock stylesheet %}

        {% block extra-stylesheet %}
        <link rel="stylesheet" href="{% static 'users/employee/css/profile.css' %}">
        {% endblock extra-stylesheet %}

    </head>

    <body>
        <!--Sidebar-->
        {% if user.is_authenticated %}
        {% block sidebar %}
        <div class="sidebar">
            <div class="bar-icon">
                <div class="bar-1-active"></div>
                <div class="bar-2-active"></div>
                <div class="bar-3-active"></div>
            </div>
            <img class="logo" src="{% static 'users/employee/images/Logo-1.png' %}">
            <ul class="list-unstyled">
                <li><img src="{% static 'users/employee/images/Dashboard icon.svg' %}"><span>Dashboard</span></li>
                <a href="#"><li style="top:58px" class="active"><img src="{% static 'users/employee/images/Home icon.svg' %}"><span>Home</span></li></a>

                {% if user.department == 'IT' %}
                <a href="{% url 'project:employee-project' %}"><li style="top:117px"><img src="{% static 'users/employee/images/Projects icon.svg' %}"><span>Projects</span></li></a>
                {% elif user.department == 'Marketing' %}
                <a href="{% url 'opportunity:list_oppo' %}"><li style="top:117px"><img src="{% static 'users/employee/images/Projects icon.svg' %}"><span>Leads</span></li></a>
                {% endif %}

                <a href="#"><li style="top:175px"><img src="{% static 'users/employee/images/Attendance icon.svg' %}"><span>Attendance</span></li></a>
                <a href="#"><li style="top:234px"><img src="{% static 'users/employee/images/Salary Icon.svg' %}"><span>Salary</span></li></a>
                <a href="#"><li style="top:293px"><img src="{% static 'users/employee/images/Leave Req.. Icon.svg' %}"><span>Leave Request</span></li></a>
            </ul>
        </div>
        {% endblock sidebar %}
        <!--Sidebar-->

        <div class="main">
        <!--Navigation-->
            {% block topnav %}
            <nav class="navbar navbar-expand-lg bg-light ">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav ml-auto right-header">
                        <form class="search">
                            <input type="search" placeholder="Search" class="form-control search-bar">
                        </form>
                        <li class="nav-item nav-icon">
                            <a class="nav-link" href="#"><img src="{% static 'users/employee/images/Message.svg' %}"></a>
                        </li>
                        <li class="nav-item nav-icon">
                            <a class="nav-link" href="#"><img src="{% static 'users/employee/images/Notification.png' %}"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'users/employee/images/line.svg' %}" class="dropdown-line">
                              <div class="profile-bg">
                                <img src="{% static 'users/employee/images/profile.png' %}">
                              </div>
                              <img src="{% static 'users/employee/images/dropdown-icon.svg' %}" class="dropdown-icon">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#"><img id="my-img" src="{% static 'users/employee/images/profile.png' %}"> My Profile</a>
                              <a class="dropdown-item" href="#"><img id="edit-profile" src="{% static 'users/employee/images/Settings.svg' %}"><span>Edit Profile</span></a>
                              <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fas fa-power-off"></i><span>Logout</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}
            <!--Navigation-->

            <!--Page-content-->
            {% block page_content %}
            <div class="main-content ">
                <div class="row head">
                    <h4>User Information</h4>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="row">
                                <span>
                                    <div class="row">
                                        <div class="profile-bg profile-bg-border">
                                            <img src="{% static 'users/employee/images/profile.png' %}">
                                        </div>
                                        <div class="main-info">
                                            <div class="row">
                                                <h5 class="name">Ved Prakash Singh</h5>
                                            </div>
                                            <div class="row">
                                                <h6 class="designation-head">Associate Director and Creative Head</h6>
                                            </div>
                                        </div>
                                    </div>
                                </span>

                                <span class="edit-btn ml-auto">
                                    <button type="button" class="btn edit">Edit</button>
                                </span>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="contact-details">
                                <div class="row">
                                    <h4>Contact Details</h4>
                                </div>
                                <div class="row profile-elements">
                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Name</h6>
                                        </div>
                                        <div class="row">
                                            <h5>Ved Prakash Singh</h5>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Designation</h6>
                                        </div>
                                        <div class="row">
                                            <h5>Associate Director and Creative Head</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile-elements">
                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Email</h6>
                                        </div>
                                        <div class="row">
                                            <h5>ved@codeflowtech.com</h5>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Contact Number</h6>
                                        </div>
                                        <div class="row">
                                            <h5>(+91)-8473664829</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile-elements">
                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Department</h6>
                                        </div>
                                        <div class="row">
                                            <h5>Designing</h5>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 information">
                                        <div class="row">
                                            <h6>Links</h6>
                                        </div>
                                        <div class="row">
                                            <span>
                                                <i class="fab fa-linkedin-in"></i>
                                                <i class="fab fa-twitter"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-me">
                                <div class="row">
                                    <h4>About Me</h4>
                                </div>

                                <div class="row">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock page_content %}
            <!--Page-content-->
        </div>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        {% endblock scripts %}

        {% block extra-scripts %}
        <script src="{% static 'users/employee/js/profile.js' %}"></script>
        {% endblock extra-scripts %}

    {% else %}
    <h2>Please enter correct details</h2>
        <p>Login again</p>
        <a href="{% url 'users:login' %}"><button type="button">Login</button></a>
    {% endif %}
    </body>
</html>