<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/project-list.css">
    </head>

    <body>
        <!--Sidebar-->
        <div class="sidebar">
            <div class="bar-icon">
                <div class="bar-1-active"></div>
                <div class="bar-2-active"></div>
                <div class="bar-3-active"></div>
            </div>
            <img class="logo" src="assets/images/Logo-1.png">
            <ul class="list-unstyled">
                <li><img src="assets/images/Dashboard icon.svg"><span>Dashboard</span></li>
                <a href="home.html"><li style="top:58px"><img src="assets/images/Home icon.svg"><span>Home</span></li></a>
                <a href="project-list.html"><li style="top:117px" class="active"><img src="assets/images/Projects icon.svg"><span>Projects</span></li></a>
                <a href="#"><li style="top:175px"><img src="assets/images/Attendance icon.svg"><span>Attendance</span></li></a>
                <a href="#"><li style="top:234px"><img src="assets/images/Salary Icon.svg"><span>Salary</span></li></a>
                <a href="#"><li style="top:293px"><img src="assets/images/Leave Req.. Icon.svg"><span>Leave Request</span></li></a>
            </ul>
        </div>
        <!--Sidebar-->

        <div class="main">
        <!--Navigation-->
            <nav class="navbar navbar-expand-lg  ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    
                    <ul class="navbar-nav ml-auto right-header">
                        <form class="search">
                            <input type="search" placeholder="Search" class="form-control search-bar">
                        </form>
                        <li class="nav-item nav-icon">
                            <a class="nav-link" href="#"><img src="assets/images/Message.svg"></a>
                        </li>
                        <li class="nav-item nav-icon">
                            <a class="nav-link" href="#"><img src="assets/images/Notification.png"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/line.svg" class="dropdown-line">
                              <div class="profile-bg">
                                <img src="assets/images/profile.png">
                              </div>
                              <img src="assets/images/dropdown-icon.svg" class="dropdown-icon">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#"><img id="my-img" src="assets/images/profile.png"> My Profile</a>
                              <a class="dropdown-item" href="#"><img id="edit-profile" src="assets/images/Settings.svg"><span>Edit Profile</span></a>                              
                              <a class="dropdown-item" href="#"><i class="fas fa-power-off"></i><span>Logout</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--Navigation-->

            <div class="main-content ">
                <div class="row head">
                    <h4>Projects</h4>
                </div>

                <div class="row">
                    <div class="table-responsive major-container">
                        <div class=" bg-white">
                            <div class="row">
                                <span>
                                    <div class="row">
                                        <div class="main-info">
                                            <div class="row">
                                                <h5 class="heading">MY PROJECTS</h5>
                                            </div>
                                        </div>
                                    </div>
                                </span>                                   
                            </div>
                        </div>

                        <div class="table-container">
                            <div class="table-responsive project-details">
                                <table class="table table-lg text-center table-borderless">
                                    <thead class="thead-light">
                                        <tr>
                                        <th scope="col">S.NO</th>
                                        <th scope="col">PROJECT NAME</th>
                                        <th scope="col">PROJECT HEAD</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <th scope="row">01</th>
                                        <td>MENTYOR</td>
                                        <td>VED PRAKASH</td>
                                        <td>Pending</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">02</th>
                                        <td>PETU KI BIRYANI</td>
                                        <td>NAVEEN KATIYAR</td>
                                        <td>Completed</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">03</th>
                                        <td>UM BIKES</td>
                                        <td>VED PRAKASH</td>
                                        <td>Inactive</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">04</th>
                                        <td>UM BIKES</td>
                                        <td>Naveen Katiyar</td>
                                        <td>Completed</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">05</th>
                                        <td>EMS</td>
                                        <td>Naveen Katiyar</td>
                                        <td>Completed</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">06</th>
                                        <td>Code Flow Tech</td>
                                        <td>VED PRAKASH</td>
                                        <td>Inactive</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>
                                        <tr>
                                        <th scope="row">07</th>
                                        <td>Students & Tutors</td>
                                        <td>VED PRAKASH</td>
                                        <td>Inactive</td>
                                        <td><img src="assets/images/View.svg"></td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pagination-container">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        </li>
                                        <li class="page-item active-link"><a class="page-link " href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Page-content-->

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="assets/js/project-list.js"></script>
    </body>
</html>
