<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary info</title>
</head>
<body>
<table border ="1">
        <thead>
            <tr>
                <th>Break up</th>
                <th>Calculations</th>
                <th>Monthly Salary</th>
                <th>Yearly Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for i in details %}
                <tr>
                    <td>Basic</td>
                    <td>50% Gross</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td> 12*{{  i.monthly_salary }} </td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>HRA</td>
                    <td>{{  d.hra_percentage }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td> 12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>PPF</td>
                    <td>{{  d.ppf_percentage }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>Allowances</td>
                    <td>{{  d.allowances }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>Gross</td>
                    <td></td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>CTC</td>
                    <td>Gross + (PPF*2)</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>12*{{  i.montly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>Deduction Amount due to leaves</td>
                    <td></td>
                    <td>{{  i.monthly_salary }}</td>%}
                    <td>12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>Final</td>
                    <td>Gross - Deduction Amount</td>
                    <td>{{  i.monthly_salary }}</td>%}
                    <td>12*{{  i.monthly_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>

</body>
</html>