<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary info</title>
</head>
<body>
<!--<h1> Year: {{CTC_breakdown.year}}</h1>-->
<table border ="1">
        <thead>
            <tr>
                <th>Break up</th>
                <th>Calculations</th>
                <th>Monthly Salary</th>
                <th>Yearly Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basic</td>
                <td>50% Gross</td>
               <!-- <td>{{  details.monthly_salary }}</td>
                <td> 12*{{  details.monthly_salary }} </td>-->
            </tr>
            <tr>
                <td>HRA</td>
                <!--<td>{{  d.hra_percentage }}</td>
                <td>{{  details.monthly_salary }}</td>
                <td> 12*{{  i.monthly_salary }}</td>-->
            </tr>
            <tr>
                <td>PPF</td>
                <!--<td>{{  d.ppf_percentage }}</td>
                <td>{{  details.monthly_salary }}</td>
                <td>12*{{  details.monthly_salary }}</td>-->
            </tr>
            <tr>
                <td>Allowances</td>
                <!--<td>{{  d.allowances }}</td>
                <td>{{  details.monthly_salary }}</td>
                <td>12*{{  details.monthly_salary }}</td>-->
            </tr>
            <tr>
                <td>CTC</td>
                <td></td>
                <!--<td>{{  details.monthly_salary }}</td>
                <td>12*{{  details.monthly_salary }}</td>-->
            </tr>
            <tr>
                <td>CTC Max Bonus</td>
                <td></td>
                <!--<td>{{  details.monthly_salary }}</td>
                <td>12*{{  details.montly_salary }}</td>-->
            </tr>
        </tbody>

</body>
</html>