<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary info</title>
</head>
<body>
<table border ="1">
        <thead>
            <tr>
                <th>Break up</th>
                <th>Calculations</th>
                <th>Monthly Salary</th>
                <th>Yearly Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{  d.hra_percentage }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{  d.allowances }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{  d.ppf_percentage }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{  deductions }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{ gross}}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
            {% for i in details %}
                <tr>
                    <td>{{  i.break_up }}</td>
                    <td>{{ ctc }}</td>
                    <td>{{  i.monthly_salary }}</td>
                    <td>{{  i.yearly_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>

</body>
</html>