<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Assigned Leads</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}

{% block extra-stylesheets %}
    <style>
    fieldset{
        border : 3px ridge gainsboro;
    }

    legend{
        border-bottom: none;
        width:initial;
        padding-bottom: 0px;
    }
</style>
{% endblock %}

{% block page-content %}
<div class="right_col" role="main">
          <div class="page-title">
              <div class="title_left">
                <h3>Assigned Leads</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Assigned Leads </h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    {% if user.is_authenticated %}
                            {% for assign in assigned_leads %}
                        <div class="row">
                                <div class="col-lg-9 text-left">
                                    <a href="{% url 'opportunity:meeting:meeting_list' assign.id %}">
                                        <p>
                                            Company Name: {{ assign.lead.company_name }}
                                        </p>
                                        <p>
                                            Project Manager: {{ assign.proj_manager.username }}
                                        </p>
                                        <p>
                                            Project Description : {{ assign.lead.description }}
                                        </p>
                                        <p>
                                            Status : {{ assign.status }}
                                        </p>
                                        <p>
                                            Assigned To : {{ assign.assigned_to.username }}
                                        </p>
                                    </a>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <form action="{% url 'opportunity:add_proj_manager' assign.pk %}" method="post" class="form-group">
                                        <fieldset>
                                            <legend>Assign Project Manager</legend>
                                            {% csrf_token %}
                                            <p>
                                                {{ form.proj_manager.errors }} {{ form.proj_manager.label }} {{ form.proj_manager }}
                                            </p>
                                            <input type = submit value="Assign" style="margin-bottom:15px; margin-top:15px">
                                        </fieldset>
                                    </form>
                                </div>
                        </div>
                      <hr />
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>You don't have permission</div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock page-content %}

