<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}




{% block page-content %}
<div class="right_col" role="main">
    <!-- top tiles -->
    <!--<div class="row">-->
        <!--<a href="{% url 'opportunity:client:add_client_form' %}"><button type="button">Add Client</button></a>-->
    <!--</div>-->
    <div class="row tile_count">
        {% if user.is_authenticated %}
        <div height="200">Hello {{ user.username }}</div>
        <hr/>
        <div>
            {% for leads in closed_leads %}
            <div >
                <a href="{% url 'opportunity:meeting:meeting_list' leads.pk %}">
                    <p>
                        Company Name: {{ leads.lead.company_name }}
                    </p>
                    <p>
                        Project Manager: {{ leads.proj_manager.username }}
                    </p>
                    <p>
                        Project Description : {{ leads.description }}
                    </p>
                    <p>
                        Assigned To : {{ leads.assigned_to.username }}
                    </p>
                    <p>
                        Amount : {{ leads.price }}
                    </p>
                </a>
            </div>
            <hr/>
            <hr/>
            {% endfor %}
        </div>
        {% else %}
        <div>You don't have permission</div>
        {% endif %}
    </div>
    <!-- /top tiles -->

    <div class="row">
    </div>
    <br />

    <div class="row">

    </div>


    <div class="row">

    </div>
</div>
{% endblock page-content %}


