<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Employee Leads</title>
    <link rel="stylesheet" href="{% static 'opportunity/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    {% if user.is_authenticated %}
        <div id="username">Hello {{ user.username }}</div>
        <hr/>
        <table border="1">
            <tr>
                <th>Company Name</th>
                <th>Description</th>
                <th>status</th>
                <th>Client</th>
                <th>Price</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Change Status</th>
            </tr>
            {% for op in opportunity %}
                <tr>
                    <td><a id="data"  href="{% url 'opportunity:meeting:emp_meeting' op.id %}">{{ op.lead.company_name }}</a></td>
                    <td>{{ op.lead.description }}</td>
                    <td>{{ op.status }}</td>
                    <td>{{ op.client.username}}</td>
                    <td>{{ op.price }}</td>
                    <td>{{ op.lead.contact_person }}</td>
                    <td>{{ op.lead.email }}</td>
                    <td>{{ op.lead.contact_number }}</td>
                    {% if op.assigned_to.username == user.username or user.designation == 'Manager' %}
                        <td id="change_status"><a id="edit" href="{% url 'opportunity:change_status' op.id %}"> Edit </a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <!--<td><button type="button" data-id = "{{ op.id }}" class ="edit" data-toggle="modal" data-target="#exampleModalLong">Edit</button></td>-->
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>You don't have permission</div>
    {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var user = '{{ user.username }}';
    console.log(user)
</script>

</body>
</html>