{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Employee Leads</title>
    <link rel="stylesheet" href="{% static 'opportunity/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    {% if user.is_authenticated %}
        <div height="200">Hello {{ user.username }}</div>
        <hr/>
        <table border="1">
            <tr>
                <th>Company Name</th>
                <th>Description</th>
                <th>status</th>
                <th>Client</th>
                <th>Price</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Change Status</th>
            </tr>
            {% for op in opportunity %}
                <tr>
                    <td><a id="data"  href="{% url 'opportunity:meeting:emp_meeting' op.id %}">{{ op.lead.company_name }}</a></td>
                    <td>{{ op.lead.description }}</td>
                    <td>{{ op.status }}</td>
                    <td>{{ op.client.username}}</td>
                    <td>{{ op.price }}</td>
                    <td>{{ op.lead.contact_person }}</td>
                    <td>{{ op.lead.email }}</td>
                    <td>{{ op.lead.contact_number }}</td>
                    <td><a id="edit" href="{% url 'opportunity:change_status' op.id %}"> Edit </a></td>
                    <!--<td><button type="button" data-id = "{{ op.id }}" class ="edit" data-toggle="modal" data-target="#exampleModalLong">Edit</button></td>-->
                </tr>
            {% endfor %}
        </table>
        <!--<div>-->
                <!--<fieldset>-->
                    <!--<legend>Add Meeting Notes</legend>-->
                    <!--<form action="" method="post" style="display:inline">-->
                        <!--{% csrf_token %}-->
                        <!--<p>-->
                            <!--{{ form.proj_manager.errors }} {{ form.proj_manager.label }} {{ form.proj_manager }}-->
                        <!--</p>-->
                        <!--<input type = submit value="Add ">-->
                    <!--</form>-->
                <!--</fieldset>-->
        <!--</div>-->
    {% else %}
        <div>You don't have permission</div>
    {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $('.edit').click(function(){
        var id = $(this).attr('data-id');

        $.ajax({url: id +"/change_status" , success:function(data){
            $('.modal-body').html(data);
        },
            data: { status: 'approved'}
        });
    });
</script>

</body>
</html>