<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div witdth="20">Hello {{user.username}}</div>
        <hr/>
        <table border="1">
            <tr>
                <th>Company Name</th>
                <th>Description</th>
                <th>status</th>
                <th>Client</th>
                <th>Price</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
            {% for op in opportunity %}
                <tr>
                    <td><a href="">{{ op.lead.company_name }}</a></td>
                    <td>{{ op.description }}</td>
                    <td>{{ op.status }}</td>
                    <td>{{ op.client.username}}</td>
                    <td>{{ op.price }}</td>
                    <td>{{ op.lead.contact_person }}</td>
                    <td>{{ op.lead.email }}</td>
                    <td>{{ op.lead.contact_number }}</td>
                    <td><a href="">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>You don't have permission</div>
    {% endif %}
</body>
</html>