<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if user.is_authenticated %}
    <h3>Hello {{ user.first_name }} {{user.last_name }}. You are already logged in!</h3>
    <br>
    <a href="{% url 'users:logout' %}"><button>Log out</button></a>


    {% else %}
    <form method="POST", action="{% url 'users:login' %}">
        {% csrf_token %}

        <label>Username/Email: <input type="text" name="email_or_username" /></label>
        <label>Password: <input type="password" name="password" /></label>
        <input type="submit" value="Login" />
    </form>
    {% endif %}

</body>
</html>

