<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There are erors in the form!</p>
        {% endif %}

        <h2>Register Here</h2>
        <h4>Fields with * mark are necessary for successful registration! </h4>

        {{ form.as_p }}
        <!--p>*Username {{ form.username }}</p>
        <p>*Email {{ form.email }}</p>
        <p>*Password {{ form.password1 }}</p>
        <p>*Confirm Password {{ form.password2 }}</p>
        <p>*First Name {{ form.first_name }}</p>
        <p>Middle Name {{ form.middle_name }}</p>
        <p>Last Name {{ form.last_name }}</p>
        <p>Contact {{ form.contact }}</p>
        <p>Department {{ form.department }}</p>
        <p>Designation {{ form.designation }}</p>
        <p>Salary {{ form.salary }}</p>
        <p>Staff? {{ form.is_staff }}</p>
        <p>Superuser? {{ form.is_superuser }}</p-->

        <input type="submit" value="Register" />
    </form>
</body>
</html>

