<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Edit Salary</h1>
</head>
<body>
<a href="{% url 'salary_percentages:salary_structure' %}"><button>View Salary Structure</button></a>
<a href="{% url 'monthly_salary:edit_salary_list' %}"><button>Edit Salary</button></a>
<a href="{% url 'monthly_salary:monthly_salary_list' %}"><button>Monthly Salary</button></a>
    <div>
    {% for i in context %}
        {{ i.staff.id }}<br>
        {{ i.staff.username }}<br>
        Fixed Monthly Salary: {{ i.fixed_monthly_salary }}<br>
        Month: {{ i.month }}<br>
        {{ i.year }}
        <a href="{% url 'monthly_salary:edit_salary' i.staff.id %}">Edit Salary</a><br>
    {% endfor %}
    </div><br><br>
</body>
</html>


