<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly salary</title>
</head>
<body>
    Staff ID:{{monthly_objects.staff.id}}<br>
    Username:{{monthly_objects.staff.username}}<br>
    {{monthly_objects.staff.password}}<br>
    Email:{{ monthly_objects.staff.email }}<br>
    Month/Year:{{ monthly_objects.staff.month}}/{{monthly_objects.staff.year}}<br>
    Basic Monthly Salary:{{ monthly_objects.basic_monthly_salary}}<br>
    HRA:{{ monthly_objects.hra}}<br>
    Dearness Allowance:{{ monthly_objects.dearness_allowance}}<br>
    PF:{{ monthly_objects.pf}}<br>
    Medical Allowance:{{ monthly_objects.medical_allowance}}<br>
    Conveyance Allowance:{{ monthly_objects.conveyance_allowance}}<br>
    Washing Allowance:{{ monthly_objects.washing_allowance}}<br>
    Other Allowance:{{ monthly_objects.other_allowance}}<br>
    Fixed Monthly Salary:{{ monthly_objects.fixed_monthly_salary}}<br>
    Deduction due to Leaves:{{ monthly_objects.deduction_due_to_leaves}}<br>
    Total Deductions: {{monthly_objects.total_deductions}}<br>
    Net Salary: {{ monthly_objects.net_salary}}<br>

</body>
</html>
