<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>

    <h1>This is the Index page!</h1>
    <i class="fa fa-user"></i>
    <div>
        <b>Login </b>
        <a href="{% url 'users:login' %}"><button>Employee </button></a>
        <a href="{% url 'users:admin_login' %}"><button>Admin</button></a>
    </div><br>

    <a href="{% url 'users:register' %}"><button>Register</button></a><br><br>
    <a href="{% url 'users:forgot_password' %}">Forgot Password</a>
</body>
</html>




