<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome User</title>
</head>
<body>


    {% if user.is_authenticated and user.designation != 'Client' %}
    {% load users_extras %}

    <h3>Hello {{ user.first_name }} {{user.last_name}}</h3>

        {% if user|has_group:"Employee Group" %}
        <div>

            <a href="{% url 'attendance:pastattendance' %}"><button type="button">Attendance</button></a><br><br>

            <a href="{% url 'users:profile' user.id %}" blank="True"><button type="button">Profile</button></a><br><br>

            {% if user.department == 'IT' %}
                <a href="{% url 'project:employee-project' %}"><button type="button">Project</button></a><br><br>

            {% elif user.department == 'Marketing' %}
                <a href="{% url 'opportunity:list_oppo' %}"><button type="button">Leads</button></a><br><br>

            {% endif %}

            <a href="{% url 'attendance:leave_request' %}"><button type="button">Leave Request</button></a><br><br>

            <a href="{% url 'ctc:salary' %}"><button type="button">Salary</button></a><br><br>


        </div>
        {% endif %}

    <a href="{% url 'users:logout' %}"><button type="button">Log out</button></a><br><br>

    {% else %}

        {% if user.designation == 'Client' %}
        <h2>
            Welcome {{ user.username }}.<br>
            You are our Client. But we have not created login portal for our client.<br>
            Sorry!
        </h2>
        {% else %}
        <h2>Please enter correct details</h2>
        {% endif %}
        <p>Login again</p>
        <a href="{% url 'users:login' %}"><button type="button">Employee</button></a>
        <a href="{% url 'users:admin_login' %}"><button>Admin</button></a>
    {% endif %}

</body>
</html>




