html{
    height:100%;
  }
  
  body{
    height:100%;
  }
  
  @font-face {
      font-family: ('MyriadPro-Regular');
      src: url(fonts/MyriadPro-Regular.ttf ) format("truetype");
      } 
  
    
    .social li{
        display: inline-block;
    }
    
    .social li:nth-child(1){
      font-size: 19px;
      font-family: "Lato";
      text-align: center;
    }
    
    .form-elements{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      padding-top:215px;
      /* padding-bottom:215px; */
    }
  
    .form-elements h3{
      font-size: 30px;
      color: rgb(0,0,0);
      font-family: "Lato";
      font-weight: bold;
    }
  
    .form-elements h6{
      font-size: 18px;
      color: rgb(0,0,0);
      font-family: "Lato";
    }
  
    .form-elements button{
      padding: 15px 35px;
      color:white;
      font-weight:bold;
      border-radius: 7px;
      box-shadow: 0px 21px 30px rgba(0,69,164,0.17);
      background-color: #42b6ff;
    }
  
    .form-elements button:hover{
      background-color: white;
      color: #42b6ff;
      box-shadow: 0 6px 10px 2px rgba(0,69,164,0.17);
      transition: all 0.2s ease-in-out;
    }

    .form-elements button:focus{
      background-color: white;
      color: #42b6ff;
      box-shadow: 0 6px 10px 2px rgba(0,69,164,0.17);
      transition: all 0.2s ease-in-out;
    }
  
    form{
      width:100%;
      margin: 0 auto;
    }
  
    .form-group{
      position:relative;
      padding-top:20px;
      margin-bottom:50px;
    }
  
    form input::-webkit-input-placeholder{
      font-size: 25px;
      color: rgb(18,18,18);
      font-family: "Lato";
    }
  
  
    form input{
        text-align:left !important;
    }
  
    .form-group{
      position: relative;
    }
  
    #email{
      border-radius: 7px;
      text-align: center;
      border: 1px solid #218fd5;
      padding: 20px 20px;
      transition: all 0.2s linear;
    }

    .bar:after{
      content: "";
      position: absolute;
      width:0px;
      height:2px;
      left:6px;
      bottom:0;
      transition: all 0.3s linear;
    }

    
  #email:focus{
    box-shadow: 0 6px 10px 2px rgba(0,69,164,0.17);
    border:1px solid white;
    transition: all 0.3s linear;
  }

  #email:focus ~ .bar:after{
    content: "";
    position: absolute;
    left:6px;
    bottom:0;
    background-color: #42b6ff; 
    width:98%;
    height:2px;
    transition: width 0.3s linear;
  }


    .information{
      flex-wrap: nowrap;
      margin-top:30px;
    }

    .information img{
      margin-right:25px;
    }

      
      .pointers{
        list-style-image: url('../images/pointers.svg');
        width:80%;
        margin: 0 auto;
        padding-top:320px;
      }
    
      .pointers li{
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 36px;
        color: rgb(255,255,255);
        font-family: "Lato";
        padding-top:25px;
      }
    
      .pointers li span{
        position: relative;
        left:1px;
        top:-2px;
      }
    
      .logo{
        margin-top:25px;
      }
    
      .links{
        margin-top:30px;
      }
    
      .links li{
        display: inline-block;
        padding: 0 20px;
        font-size: 24px;
        letter-spacing: 1px;
        color: rgb(255,255,255);
        font-family: "Lato";
      }
  
      .links li a{
        color:white;
      }
    
      .links li a:hover{
        color:black;
      }
    
      .right-content{
        position:relative;
        background-image: linear-gradient(45deg, #1c2166 0%, #4a79f2 100%);
        overflow: hidden;
      }
    
      #shape{
        position:absolute;
        bottom:-250px;
        left:-200px;
      }
      
    
    
      @media only screen and (max-width:972px){
        h6{
          font-size:12px !important;
        }

        .remember {
          text-align:center !important;
        }
    
        .forgot{
          text-align:center !important;
        }

        #shape{
          display:none;
        }
        
        .pointers{
          display:none;
        }

        form input::-webkit-input-placeholder{
          font-size:15px;
        }

        #email{
          border-radius: 7px;
          text-align: center;
          border: 1px solid #218fd5;
          padding: 10px 10px;
        }

        .form-elements{
          padding-top: 100px;
        }

        .form-elements button{
          border-radius:2px;
          padding: 5px 20px;
          font-size:15px;
        }

        .links li{
          display: inline-block;
          padding: 0 10px;
          font-size: 20px;
          letter-spacing: 1px;
          color: rgb(255,255,255);
          font-family: "Lato";
        }
    
        .right-content{
          /* position:relative;
          top:120px; */
          margin-top:60px;
          /* height:20%; */
        }
    
        .right-content ul{
          text-align: center !important;
        }
      }

      @media only screen and (min-width:1600px){
        .main{
          height:100vh;
          overflow: hidden;
        }
      }