<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>information for salary</title>
    <h1>Salary Structure Table</h1>>
</head>
<body>
<a href="{% url 'monthly_salary:edit_salary_list' %}"><button>Edit Salary</button></a>
<a href="{% url 'monthly_salary:monthly_salary_list' %}"><button>Monthly Salary</button></a>
<a href="{% url 'salary_percentages:upload_csv' %}"><button>Import salary structure of previous years</button></a>
<a href="{% url 'salary_percentages:add' %}"><button> Form this year's salary structure</button> </a><br><br>

    <table border ="1">
        <thead>
            <tr>
                <th>Financial Year</th>
                <th>HRA (% of monthly basic)</th>
                <th>Dearness Allowance (% of monthly basic)</th>
                <th>PF (% of monthly basic)</th>
                <th>Medical Allowance (INR/month)</th>
                <th>Conveyance Allowance INR/month)</th>
                <th>Washing Allowance (INR/month)</th>
                <th>Other Allowances (% of monthly basic)</th>
                <th>Max Bonus (% of yearly basic)</th>
            </tr>
        </thead>
        <tbody>
            {% for i in context %}
                <tr>
                    <td>{{ i.financial_year }}</td>
                    <td>{{ i.hra_percentage }}</td>
                    <td>{{ i.dearness_percentage }}</td>
                    <td>{{ i.pf_percentage }}</td>
                    <td>{{ i.medical_allowance }}</td>
                    <td>{{ i.conveyance_allowance }}</td>
                    <td>{{ i.washing_allowance }}</td>
                    <td>{{ i.other_allowance_percentage }}</td>
                    <td>{{ i.max_bonus_percentage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>