<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'salary_percentages:salary_structure' %}"><button>View Salary Structure</button></a>
    <a href ="{% url 'salary_percentages:salary' %}"><button>Edit Salary</button></a>
    <a href ="{% url 'salary_percentages:monthly_salary' %}"><button>Monthly Salary</button></a>
    {% for i in context %}
        <div><p>
            Employee ID: {{ i.employee.id }}  <a href="{% url 'salary_percentages:edit_salary' i.employee_id %}">Edit Salary</a><br>
            Username: {{ i.employee.username }}<br>
            Department: {{ i.employee.department }}<br>
            Email: {{ i.employee.email }}<br>
        </div></p>
    {% endfor %}
</body>
</html>