<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>information for salary</title>
    <h1>Salary Table</h1>>
</head>
<body>
<a href="{% url 'salary_percentages:upload_csv' %}"><button>Import salary structure of previous years</button></a>
<a href="{% url 'salary_percentages:add' %}"><button> Form this year's salary structure</button> </a><br><br>

    <table border ="1">
        <thead>
            <tr>
                <th>Financial Year</th>
                <th>Allowances (%)</th>
                <th>HRA (%)</th>
                <th>PPF (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for i in context %}
                <tr>
                    <td>{{ i.financial_year }}</td>
                    <td>{{ i.allowances }}</td>
                    <td>{{ i.hra_percentage }}</td>
                    <td>{{ i.ppf_percentage }}</td>
                </tr>
            {% endfor %}
        </tbody>
</body>
</html>