<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'salary_percentages:add' %}" method="POST">
        {% csrf_token %}
        Financial Year: {{ form.financial_year }}<br><br>
        HRA (% of monthly basic): {{ form.hra_percentage }}<br><br>
        Dearness Allowance (% of monthly basic): {{ form.dearness_percentage }}<br><br>
        PF (% of monthly basic): {{ form.pf_percentage }}<br><br>
        Medical Allowance (INR/month): {{ form.medical_allowance }}<br><br>
        Conveyance Allowance (INR/month): {{ form.conveyance_allowance }}<br><br>
        Washing Allowance (INR/month): {{ form.washing_allowance }}<br><br>
        Other Allowance (% of monthly basic): {{ form.other_allowance_percentage }}<br><br>
        Max Bonus (% of yearly basic):{{ form.max_bonus_percentage }}<br><br>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>