<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Requests for leaves</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}

{% block extra-stylesheets %}
<style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
</style>
{% endblock %}

    <title>{% block title %} Leave Requests {% endblock title %}</title>


{% block page-content %}

<div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count" style = "float:left; margin-right:20px">

            {% for m in myuser %}
                <p>Name:{{ m.user.first_name }}</p>
                <p>Department:{{ m.user.department }}</p>
                <p>Status: {{ m.status }}</p>
                <a href="showrequest/{{ m.id }}"><button>View Request</button></a>
                <hr/>
            {% endfor %}

          </div>
          <div style="float:right">


              <h3>Absentee</h3>
              <!--<p>Date : <input type="text" id="calendar" /></p>-->
              <form action="{% url 'leave:leave_request'%}" method="get">
                   <div>{{ form.date.label }} {{ form.date }} {{ form.date.errors }}</div>
                  <button type="submit">Submit</button>
              </form>
              <table border="1">
                  <tr>
                    <th>Name</th>
                    <th>Department</th>
                  </tr>
                  {% for a in attend %}
                    <tr>
                        <td>{{ a.user.first_name }} {{ a.user.middle_name }} {{ a.user.last_name }}</td>
                        <td>{{ a.user.department }}</td>
                    </tr>
                  {% endfor %}
              </table>

          </div>
          <div class="row">

          </div>
          <br />

          <div class="row">

          </div>


          <div class="row">

          </div>
</div>

{% endblock page-content %}

{% block extra-script %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <script>

    $(document).ready(function(){
        $('#calendar').datepicker("show");
    });

    var elem = $('#calendar').val();
    console.log(elem);
    </script>
{% endblock %}

