<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Requests for leaves</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}

    <title>{% block title %} Leave Requests {% endblock title %}</title>

{% block page-content %}

<div class="right_col" role="main">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>HR Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
             <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Leave Management </h2>

                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div class="row">
                           <div class="col-lg-9">
                                {% for m in myuser %}
                                    <p>Name:{{ m.user.first_name }}</p>
                                    <p>Department:{{ m.user.department }}</p>
                                    <p>Status: {{ m.status }}</p>
                                    <a href="showrequest/{{ m.id }}"><button>View Request</button></a>
                                    <hr/>
                                {% endfor %}
                           </div>
                            <div class="col-lg-3 text-center" style="border-left: 2px solid grey">
                              <h3>Absentee</h3>
                              <table class="table table-striped">
                                  <thead>
                                    <tr class="text-center">
                                        <th>Name</th>
                                        <th>Department</th>
                                    </tr>
                                  </thead>
                                  {% for a in attend %}
                                    <tr>
                                        <td>{{ a.user.first_name }} {{ a.user.middle_name }} {{ a.user.last_name }}</td>
                                        <td>{{ a.user.department }}</td>
                                    </tr>
                                  {% endfor %}
                              </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
             </div>
      </div>
</div>
{% endblock page-content %}
