<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}



{% block page-content %}
<div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <table border="1">
                <tr>
                    <th>Employee Id</th>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Clock-in</th>
                    <th>Clock-out</th>
                    <th>Late</th>
                    <th>Attendance</th>
                </tr>
                {% for a in attendance %}
                <tr>

                        <td>{{ a.user.id }}</td>
                        <td>{{ a.user.department }}</td>
                        <td>{{ a.user.first_name }} {{a.user.middle_name }} {{ a.user.last_name }}</td>
                        <td>{{ a.time_in }}</td>
                        <td>{{ a.time_out }}</td>
                        <td>{{ a.note }}</td>
                        <td>{{ a.status }}</td>

                </tr>
                {% endfor %}
            </table>
          </div>
          <!-- /top tiles -->

          <div class="row">

          </div>
          <br />

          <div class="row">

          </div>


          <div class="row">

          </div>
        </div>
{% endblock page-content %}
