<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary info</title>
</head>
<body>
<table border ="1">
        <thead>
            <tr>
                <th>Break up</th>
                <th>Calculations</th>
                <th>Monthly Amount</th>
                <th>Yearly Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basic</td>
                <td>50% CTC</td>
                <td class="monthly"></td>
                <td class="yearly"> {{  context.basic }} </td>
            </tr>
            <tr>
                <td>HRA</td>
                <td>{{  struct.hra_percentage }}</td>
                <td class="monthly"></td>
                <td class="yearly"> {{ context.hra  }}</td>
            </tr>
            <tr>
                <td>PPF</td>
                <td>{{  struct.ppf_percentage }}</td>
                <td class="monthly"></td>
                <td class="yearly">{{  context.ppf }}</td>
            </tr>
            <tr>
                <td>Allowances</td>
                <td>{{  struct.allowances }}</td>
                <td class="monthly"></td>
                <td class="yearly">{{ context.allowances }}</td>
            </tr>
            <tr>
                <td>CTC</td>
                <td></td>
                <td></td>
                <td>{{  context.ctc }}</td>
            </tr>
            <tr>
                <td>CTC Max Bonus</td>
                <td></td>
                <td></td>
                <td>{{  context.ctc_max_bonus }}</td>
            </tr>
        </tbody>
</table>

<script>
    var monthlyAmt = document.getElementsByClassName("monthly");
    var yearlyAmt = document.getElementsByClassName("yearly");

    for(var i=0;i<monthlyAmt.length;i++){
        monthlyAmt[i].innerHTML = (yearlyAmt[i].innerHTML)/12;

    }
</script>
</body>
</html>