
{% extends 'users/employee/emp_base.html' %}
{% load static %}

{% block extra-stylesheet %}
        <link rel="stylesheet" href="{% static 'ctc/css/ctc-breakdown.css' %}">
{% endblock extra-stylesheet %}

{% block sidetab %}
            <ul class="list-unstyled">
                <a href="{% url 'attendance:pastattendance' %}"><li style="top:58px" ><img src="{% static 'users/employee/images/Home icon.svg' %}"><span>Home</span></li></a>
                {% if user.department == 'IT' %}
                <a href="{% url 'project:employee-project' %}"><li style="top:117px"><img src="{% static 'users/employee/images/Projects icon.svg' %}"><span>Projects</span></li></a>
                {% elif user.department == 'Marketing' %}
                <a href="{% url 'opportunity:list_oppo' %}"><li style="top:117px" ><img src="{% static 'users/employee/images/Projects icon.svg' %}"><span>Leads</span></li></a>
                {% endif %}
                <a href="#"><li style="top:175px"><img src="{% static 'users/employee/images/Attendance icon.svg' %}"><span>Attendance</span></li></a>
                <a href="{% url 'ctc:salary' %}"><li style="top:234px" class="active"><img src="{% static 'users/employee/images/Salary Icon.svg' %}"><span>Salary</span></li></a>
                <a href="{% url 'attendance:leave_request' %}"><li style="top:293px"><img src="{% static 'users/employee/images/Leave Req.. Icon.svg' %}"><span>Leave Request</span></li></a>
            </ul>
{% endblock sidetab %}


{% block page_content %}
<div class="main">
    <p>Year:{{context.year}}</p>
    <p>User ID: {{ context.staff.id}}</p>
    <p>Username:{{ context.staff.username }}</p>
    <div class="main-content ">
        <div class=" head">
        <ul class="breadcrumb">
                        <li><a href="salary.html">Salary</a></li>
                        <li><a href="#" class="link-active">CTC Breakup</a></li>
                    </ul>
                </div>

        <div class="salary-details">
            <div class="table-responsive major-container">
                <div class="bg-white">
                    <div class="row">
                                <span>
                                    <div class="row">
                                        <div class="main-info">
                                            <div class="row">
                                                <h5 class="heading">CTC BREAK-UP</h5>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                    </div>
                </div>

                <div class="table-container">
                    <div class="table-responsive project-details">
                        <table class="table table-lg text-center ">
                            <thead>
                            <tr>
                                <th scope="col">BREAK UP</th>
                                <th scope="col">CALCULATIONs</th>
                                <th scope="col">MONTHLY AMOUNT(Rs.)</th>
                                <th scope="col">YEARLY AMOUNT(Rs.)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Basic Salary</td>
                                <td></td>
                                <td class="monthly"></td>
                                <td class="yearly">{{  context.basic_yearly }}</td>
                            </tr>
                            <tr>
                                <td>HRA</td>
                                <td>{{  struct.hra_percentage }}% of basic</td>
                                <td class="monthly"></td>
                                <td class="yearly">{{context.hra_yearly}}</td>
                            </tr>
                            <tr>
                                <td>PF</td>
                                <td>{{  struct.pf_percentage }}%of basic</td>
                                <td class="monthly"></td>
                                <td class="yearly">{{  context.pf_yearly }}</td>
                            </tr>
                            <tr>
                                <td>Conveyance Allowance</td>
                                <td>Fixed</td>
                                <td>Rs.{{struct.conveyance_allowance}}/-</td>
                                <td>Rs.{{ context.conveyance_allowance_yearly }}/-</td>
                            </tr>
                            <tr>
                                <td>Dearness Allowance</td>
                                <td>{{struct.dearness_percentage}}% of basic</td>
                                <td class="monthly"></td>
                                <td class="yearly">{{ context.dearness_allowance_yearly }}</td>
                            </tr>
                            <tr>
                                <td>Medical Allowance</td>
                                <td>Fixed</td>
                                <td>Rs.{{struct.medical_allowance}}/-</td>
                                <td>Rs.{{ context.medical_allowance_yearly }}/-</td>
                            </tr>
                            <tr>
                                <td>Washing Allowance</td>
                                <td>Fixed</td>
                                <td>Rs.{{struct.washing_allowance}}/-</td>
                                <td>Rs.{{ context.washing_allowance_yearly }}/-</td>
                            </tr>
                            <tr>
                                <td>Other Allowances</td>
                                <td>{{struct.other_allowance_percentage}}% of basic</td>
                                <td class="monthly"></td>
                                <td class="yearly">{{ context.other_allowance_yearly }}</td>
                            </tr>
                            <tr>
                                <td>CTC Max Bonus</td>
                                <td></td>
                                <td></td>
                                <td>{{  context.max_bonus }}</td>
                            </tr>
                            <tr>
                                <td>Fixed Salary</td>
                                <td></td>
                                <td class="monthly"></td>
                                <td class="yearly">{{  context.fixed_yearly_salary }}</td>
                            </tr>
                            <tr>
                                <td>CTC</td>
                                <td></td>
                                <td></td>
                                <td>{{  context.ctc }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="display-text">You can download your salary slip from here anytime.</p>
        </div>

                <div class="row">
                    <p class="months">Months</p>
                </div>

                <div class="row">
                    <div class="col-md-4 columns download-btn-bottom-container">
                        <button type="submit" class="download-btn">March 2018</button>
                    </div>
                    <div class="col-md-4 columns download-btn-bottom-container">
                        <button type="submit" class="download-btn">April 2018</button>
                    </div>
                    <div class="col-md-4 columns download-btn-bottom-container">
                        <button type="submit" class="download-btn">May 2018</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 columns download-btn-bottom-container">
                        <button type="submit" class="download-btn">June 2018</button>
                    </div>
                    <div class="col-md-4 columns download-btn-bottom-container">
                        <button type="submit" class="download-btn">July 2018</button>
                    </div>
                </div>
            </div>


            <div class="footer">
                <div class="row">
                    <div class="footer-elements">
                        <ul class="list-unstyled">
                            <li>Terms of Use</li>
                            <li>|</li>
                            <li>Privacy Policy</li>
                            <li>Code Flow Tech &copy 2018</li>
                        </ul>
                    </div>
                </div>
            </div>





            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-->
            <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
            <!--<script src="assets/js/ctc-breakdown.js"></script>-->

{% endblock page_content %}


{% block extra-scripts %}
        <script src="{% static 'ctc/js/ctc-breakdown.js' %}"></script>
        <script>
                            var monthlyAmt = document.getElementsByClassName("monthly");
                            var yearlyAmt = document.getElementsByClassName("yearly");

                            for(var i=0;i<monthlyAmt.length;i++){
                                monthlyAmt[i].innerHTML=yearlyAmt[i].innerHTML/12 ;

                            }
                        </script>

{% endblock extra-scripts %}












<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary info</title>
</head>
<body>
<p>Year:{{context.year}}</p>
<p>User ID: {{ context.staff.id}}</p>
<p>Username:{{ context.staff.username }}</p>
<table border ="1">
        <thead>
            <tr>
                <th>Break up</th>
                <th>Calculations</th>
                <th>Monthly Amount</th>
                <th>Yearly Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basic Salary</td>
                <td></td>
                <td class="monthly"></td>
                <td class="yearly">{{  context.basic_yearly }}</td>
            </tr>
            <tr>
                <td>HRA</td>
                <td>{{  struct.hra_percentage }}% of basic</td>
                <td class="monthly"></td>
                <td class="yearly">{{context.hra_yearly}}</td>
            </tr>
            <tr>
                <td>PF</td>
                <td>{{  struct.pf_percentage }}%of basic</td>
                <td class="monthly"></td>
                <td class="yearly">{{  context.pf_yearly }}</td>
            </tr>
            <tr>
                <td>Conveyance Allowance</td>
                <td>Fixed</td>
                <td>Rs.{{struct.conveyance_allowance}}/-</td>
                <td>Rs.{{ context.conveyance_allowance_yearly }}/-</td>
            </tr>
            <tr>
                <td>Dearness Allowance</td>
                <td>{{struct.dearness_percentage}}% of basic</td>
                <td class="monthly"></td>
                <td class="yearly">{{ context.dearness_allowance_yearly }}</td>
            </tr>
            <tr>
                <td>Medical Allowance</td>
                <td>Fixed</td>
                <td>Rs.{{struct.medical_allowance}}/-</td>
                <td>Rs.{{ context.medical_allowance_yearly }}/-</td>
            </tr>
            <tr>
                <td>Washing Allowance</td>
                <td>Fixed</td>
                <td>Rs.{{struct.washing_allowance}}/-</td>
                <td>Rs.{{ context.washing_allowance_yearly }}/-</td>
            </tr>
            <tr>
                <td>Other Allowances</td>
                <td>{{struct.other_allowance_percentage}}% of basic</td>
                <td class="monthly"></td>
                <td class="yearly">{{ context.other_allowance_yearly }}</td>
            </tr>
            <tr>
                <td>CTC Max Bonus</td>
                <td></td>
                <td></td>
                <td>{{  context.max_bonus }}</td>
            </tr>
            <tr>
                <td>Fixed Salary</td>
                <td></td>
                <td class="monthly"></td>
                <td class="yearly">{{  context.fixed_yearly_salary }}</td>
            </tr>
            <tr>
                <td>CTC</td>
                <td></td>
                <td></td>
                <td>{{  context.ctc }}</td>
            </tr>
        </tbody>
</table>

<script>
    var monthlyAmt = document.getElementsByClassName("monthly");
    var yearlyAmt = document.getElementsByClassName("yearly");

    for(var i=0;i<monthlyAmt.length;i++){
        monthlyAmt[i].innerHTML=yearlyAmt[i].innerHTML/12 ;

    }
</script>
</body>
</html-->