<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{%url 'ctc:ctc' %}" method="POST">
        {% csrf_token %}
        Select Year: {{ form.year }}
        <button type="submit">Get CTC breakdown</button>
    </form>>
    <form action="{% url 'ctc:download_salary' %}" method="POST" id="salary_form">
        {% csrf_token %}
        Month:{{ form.month }}
        Year:{{ form.year }}
        <button type="submit">Download Salary Slip</button>
    </form>
</body>
</html>

