<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href ="{% url 'ctc:ctc' %}">Get CTC Breakdown</a><br><br>
    <form method="GET" id="salary_form">
        Month:{{ form.month }}
        Year:{{ form.year }}
        <!--month: {{ form.month }}
        year: {{ form.year }}
        <button type="submit">Download Salary Slip</button>-->
    </form>
    <a href="{% url 'ctc:download_salary' %}?{{ request.GET.urlencode|yesno:'&, '}}{{ request.GET.urlencode }}">Download Salary Slip</a>
<script>
    function formSubmit()
{
     document.getElementById("salary_form").submit();
}

</script>
</body>
</html>
