<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome User</title>
</head>
<body>

    {% load users_extras %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Employee Group" %}
        <div>User is in Employee Group <br>
            <a href="{% url 'users:profile' user.id %}"><button>Profile</button></a>
            <a href="{% url 'project:employee-project' %}"><button>Project</button></a>
            <a href="{% url 'attendance:leave_request' %}"><button>Leave Request</button></a>
        </div>


        {% else %}
            <p>Not is Employee group</p>
        {% endif %}


    {% else %}
        <h2>Please enter correct details</h2>
        <p>Login again</p>
        <a href="{% url 'users:login' %}"><button>Login</button></a>
    {% endif %}

</body>
</html>




