<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Attendance Form</title>
</head>
<body>
<h1> Leave Request form</h1>
<form action="{% url 'attendance:leave_request' %}" method="post">
    {% csrf_token %}
        <div>
            {{ form.name.label }}
            {{ form.name }}{{ form.name.errors }}
        </div><br>

        <div>
            {{ form.leave_type.label }}
            {{ form.leave_type }}{{ form.leave_type.errors }}
        </div><br>
        <div>
            {{ form.date.label }}
            {{ form.date }}{{ form.date.errors }}
            {{ form.end_date.label }}
            {{ form.end_date }}{{ form.end_date.errors }}
        </div><br>
        Reason:
        <div>
            &emsp;&emsp;&emsp;&emsp;{{ form.note }}{{ form.note.errors }}
        </div>
    <button type="submit">Submit</button>
    <!--
    {{form.name.errors}}
    <p>Username :{{ form.name }}</p>
    <p>Type of Leave:{{ form.leave_type }}</p>
    <p>Date:&emsp;From:{{ form.date }}&emsp;&emsp;&emsp;&emsp;To:{{ form.end_date }}</p>
    <p>Reason:</p>
    <p>&emsp;&emsp;&emsp;&emsp;{{ form.note }}</p>-->

</form>
<br>
<br>
<table border="1">
    <tr>
        <th>Type of Leave</th>
        <th>Leaves left</th>
    </tr>

        <tr>
            <td>PL</td>
            <td>{{ leave.pl }}</td>
        </tr>
        <tr>
            <td>CL</td>
            <td>{{ leave.cl }}</td>
        </tr>
        <tr>
            <td>Half Day</td>
            <td>{{ leave.half_day }}</td>
        </tr>
        <tr>
            <td>Company Off</td>
            <td>{{ leave.comp_off }}</td>
        </tr>


</table>

</body>
</html>