<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'users/css/reset-password.css' %}">
    </head>

    <body>
        <div class="container-fluid" style="height:100%">
            <div class="row main"    >
                <div class="left-content col-lg-6">
                    <div class="text-left logo">
                        <a href="#"><img src="{% static 'users/images/logo.svg' %}"></a>
                    </div>
                    <div class="text-left form-elements">
                        <div class="row">
                            <h3>Reset Password</h3>
                            <h6>Enter your email address and we'll send you an email with instructions to reset your password.</h6>
                        </div>

                        <div class="row">
                            <form method="post" action="{% url 'users:forgot_password' %}">
                                {% csrf_token %}
                                <div class="form-group" style="position: relative">
                                    <input class="form-control form-control-lg" type="email" name="email" id="email" placeholder="Email" required>
                                    <span class="bar"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-lg">Reset Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row information">
                            <div>
                                <img src="{% static 'users/images/i.svg' %}">
                            </div>
                            <div class="text-left">
                                <h6>If you don't receive an email from us within a few minutes, check your spam folder as sometimes they end up in there. The email will be from <strong>Code Flow Tech LLP.</strong></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 right-content">
                    <ul class="list-unstyled links text-right">
                        <li>Follow Us On</li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/code-flow-tech-llp/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>

                    <ul class="pointers">
                        <li><span>Stay connected to employees, anytime & anywhere</span></li>
                        <li><span>Keep a track record of your work & schedule</span></li>
                        <li><span>Get access to employees' corner, 24X7</span></li>
                        <li><span>Time sheets saved for whenever you need them</span></li>
                    </ul>

                    <div id="shape">
                        <img src="{% static 'users/images/shape.svg' %}">
                    </div>
                </div>
            </div>
        </div> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="{% static 'users/js/reset-password.js' %}"></script>

    </body>
</html>