<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>create task</title>-->
<!--</head>-->
<!--<body>-->



{% block page-content %}
            {% if user.is_authenticated %}
        <div class="container-fluid text-center">
            <form action="{% url 'task:task-add' %}" class="form-horizontal form-label-left" novalidate method="post">
                <fieldset>
                    <legend>Create New Task</legend>
                    {% csrf_token %}
                        <div >
                            {{ form.project.label }}
                            {{ form.project }}
                            {{ form.project.errors }}
                        </div><br>
                        <div>
                            {{ form.task_name.label }}
                            {{ form.task_name }}
                            {{ form.task_name.errors }}
                        </div><br>
                        <div>
                            {{ form.task_description.label }}
                            {{ form.task_description }}
                            {{ form.task_description.errors }}
                        </div><br>

                        <div>
                            {{ form.employee_id.label }}
                            {{ form.employee_id }}
                            {{ form.employee_id.errors }}

                        </div><br>

                        <div>
                            {{ form.task_start_date_time.label }}
                            {{ form.task_start_date_time }}
                            {{ from.task_start_date_time.errors }}
                        </div><br>

                        <div>
                            {{ form.task_end_date_time.label }}
                            {{ form.task_end_date_time }}
                            {{ form.task_end_date_time.errors }}
                        </div><br>

                        <div>
                            {{ form.expected_time.label }}
                            {{ form.expected_time }}
                            {{ form.expected_time.errors }}
                        </div><br>

                        <div>
                            {{ form.status.label }}
                            {{ form.status }}
                            {{ form.status.errors }}
                        </div><br>
                     <input type="submit" value="Submit"/>

                </fieldset>
            </form>
        </div>
          {% else %}
        <div>You don't have permission</div>
        {% endif %}

{% endblock page-content %}
