<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>create task</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}


    <title>{% block title %} Create Task {% endblock title %}</title>

{% block sidebar %}
    <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Account Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Salary Management</a></li>
                      <li><a href="index2.html">Client Billing</a></li>
                      <!--<li><a href="index3.html">Dashboard3</a></li>-->
                    </ul>
                  </li>
                  <li><a href="{% url 'project:project_manager_list' %}"><i class="fa fa-edit"></i> Project Management </a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">General Form</a></li>
                      <li><a href="form_advanced.html">Advanced Components</a></li>
                      <li><a href="form_validation.html">Form Validation</a></li>
                      <li><a href="form_wizards.html">Form Wizard</a></li>
                      <li><a href="form_upload.html">Form Upload</a></li>
                      <li><a href="form_buttons.html">Form Buttons</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> HR Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'attendance:show_attendance' %}">Attendance Management</a></li>
                      <li><a href="{% url 'leave:leave_request' %}">Leave Management</a></li>
                      <li><a href="typography.html">Employee Management</a></li>
                      <!--<li><a href="icons.html">Icons</a></li>-->
                      <!--<li><a href="glyphicons.html">Glyphicons</a></li>-->
                      <!--<li><a href="widgets.html">Widgets</a></li>-->
                      <!--<li><a href="invoice.html">Invoice</a></li>-->
                      <!--<li><a href="inbox.html">Inbox</a></li>-->
                      <!--<li><a href="calendar.html">Calendar</a></li>-->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Lead Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'leads:LeadDetails' %}">New Leads</a></li>
                      <li><a href="{% url 'opportunity:assign_lead' %}">Assigned Leads</a></li>
                      <li><a href="{% url 'opportunity:closed_leads' %}">Closed Leads</a></li>
                      <li><a href="{% url 'opportunity:declined_leads' %}">Declined Leads</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Reporting </a>
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="chartjs.html">Chart JS</a></li>-->
                      <!--<li><a href="chartjs2.html">Chart JS2</a></li>-->
                      <!--<li><a href="morisjs.html">Moris JS</a></li>-->
                      <!--<li><a href="echarts.html">ECharts</a></li>-->
                      <!--<li><a href="other_charts.html">Other Charts</a></li>-->
                    <!--</ul>-->
                  </li>
                  <!--<li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>-->
                      <!--<li><a href="fixed_footer.html">Fixed Footer</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                </ul>
              </div>
              <!--<div class="menu_section">-->
                <!--<h3>Live On</h3>-->
                <!--<ul class="nav side-menu">-->
                  <!--<li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="e_commerce.html">E-commerce</a></li>-->
                      <!--<li><a href="projects.html">Projects</a></li>-->
                      <!--<li><a href="project_detail.html">Project Detail</a></li>-->
                      <!--<li><a href="contacts.html">Contacts</a></li>-->
                      <!--<li><a href="profile.html">Profile</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="page_403.html">403 Error</a></li>-->
                      <!--<li><a href="page_404.html">404 Error</a></li>-->
                      <!--<li><a href="page_500.html">500 Error</a></li>-->
                      <!--<li><a href="plain_page.html">Plain Page</a></li>-->
                      <!--<li><a href="login.html">Login Page</a></li>-->
                      <!--<li><a href="pricing_tables.html">Pricing Tables</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                        <!--<li><a href="#level1_1">Level One</a>-->
                        <!--<li><a>Level One<span class="fa fa-chevron-down"></span></a>-->
                          <!--<ul class="nav child_menu">-->
                            <!--<li class="sub_menu"><a href="level2.html">Level Two</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_1">Level Two</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_2">Level Two</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#level1_2">Level One</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                  <!--</li>                  -->
                  <!--<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>-->
                <!--</ul>-->
              <!--</div>-->

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
{% endblock sidebar %}

{% block page-content %}

<div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">


            <h1>This is a Task Entry form!</h1><hr>

{% if user.is_authenticated %}

<form action="{% url 'task:task-add' %}" method="post">
    {% csrf_token %}
        <div>
            {{ form.project.label }}
            {{ form.project }}
            {{ form.project.errors }}
        </div><br>
        <div>
            {{ form.task_name.label }}
            {{ form.task_name }}
            {{ form.task_name.errors }}
        </div><br>
        <div>
            {{ form.task_description.label }}
            {{ form.task_description }}
            {{ form.task_description.errors }}
        </div><br>

        <div>
            {{ form.employee_id.label }}
            {{ form.employee_id }}
            {{ form.employee_id.errors }}

        </div><br>

        <div>
            {{ form.task_start_date_time.label }}
            {{ form.task_start_date_time }}
            {{ from.task_start_date_time.errors }}
        </div><br>

        <div>
            {{ form.task_end_date_time.label }}
            {{ form.task_end_date_time }}
            {{ form.task_end_date_time.errors }}
        </div><br>

        <div>
            {{ form.expected_time.label }}
            {{ form.expected_time }}
            {{ form.expected_time.errors }}
        </div><br>

        <div>
            {{ form.status.label }}
            {{ form.status }}
            {{ form.status.errors }}
        </div><br>
     <input type="submit" value="Submit"/>
</form>
      {% else %}
    <div>You don't have permission</div>
{% endif %}
</div>
          <!-- /top tiles -->

          <div class="row">

          </div>
          <br />

          <div class="row">

          </div>


          <div class="row">

          </div>
</div>
{% endblock page-content %}
