<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task details</title>
</head>
<body>
hello welcome to task details page!
{% if user.is_authenticated %}

    <h1>{{ object.project }}</h1>
    <h2>{{ object.task_name }}</h2>
    <p>{{ object.task_description }}</p>
    <p>TASK START DATE: {{ object.task_start_date_time }}</p>
    <p>STATUS: {{ object.status }}</p>
    <p>ASSIGNED TO: {{ object.employee_id }}</p>
    <p>EXPECTED TIME IN HOURS: {{ object.expected_time }}</p>
{% else %}
    <div>You don't have permission</div>
{% endif %}
</body>
</html>