{% extends 'apps/users/templates/users/base.html' %}
{%load static %}
{% block page-content %}
<!--<div class="right_col" role="main">-->
          <!-- top tiles -->
          <!--<div class="row tile_count">-->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>New Leads</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> New Leads </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                    <div class="x_content">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-center" id="exampleModalLabel">Project Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>-->
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="x_content">
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-center" id="exampleModalLabel1">Project Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body-1">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>-->
                                  </div>
                                </div>
                              </div>
                        </div>
                            <div class="x_content">




                    <!--<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->
                    <a href="{% url 'leads:LeadCreate' %}"><button>Create Lead</button></a>

                    <div class="table-responsive">
                    {% if object_list %}
                      <form method="post" action="assign/">
                      <div class="">



                        <table class="table table-striped jambo_table bulk_action">
                         <thead>
                            <tr class="headings">
                                <th>

                                </th>
                                <th class="column-title">contact_number</th>
                            <th class="column-title">comany_name</th>
                            <th class="column-title">contact_person</th>
                            <th class="column-title">source</th>
                            <th class="column-title">source_type</th>
                            <th class="column-title">description</th>
                            <th class="column-title">email</th>
                            <th class="column-title">website</th>
                            <th class="column-title">assigned_boolean</th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                            </tr>
                         </thead>

                         <tbody>


                            {% for leads in object_list %}
                                <!--<tr class="even pointer">-->
                                    <!--<td class="a-center ">-->
                                     <!--<input type="checkbox" class="flat" name="table_records">-->
                                    <!--</td>-->
                                    <td ><input type="checkbox" data-id="{{ leads.id }}" class="chk_selector"></td>
                                    <td>{{leads.contact_number}}</td>
                                    <td>{{leads.company_name}}</td>
                                    <td>{{leads.contact_person}}</td>
                                    <td>{{leads.source}}</td>
                                    <td>{{leads.source_type}}</td>
                                    <td>{{leads.description}}</td>
                                    <td>{{leads.email}}</td>
                                    <td>{{leads.website}}</td>
                                    <td>{{leads.assigned_boolean}}</td>
                                    <td class=" last">
                                        <!--<a href="{% url 'leads:LeadEdit' leads.id %}">-->
                                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="edit" >Edit</button>
                                        <!--</a>-->
                                        <!--<a href="{% url 'leads:LeadDelete' leads.id %}">-->
                                            <button type="button" data-toggle="modal" data-target="#exampleModal1" class="delete">Delete</button>
                                        <a href="{% url 'leads:LeadDownloadpdf' leads.id%}"><button id="downloadpdf" type="button">Download in PDF</button></a>
                                        <a href="{% url 'leads:LeadDownloadcsv' leads.id%}"><button id="downloadcsv" type="button">Download in CSV</button></a>
                                        <!--</a>-->
                                    </td>
                                    <!--<td class=" last">-->
                                    <!--</td>-->
                                </tr>
                            {% endfor %}
                         </tbody>
                        </table>
                      </div>
                        {% else %}
                      <h1>No leads available</h1>

                      {% endif %}

                        <div class="">
                            {% csrf_token %}
                             <input type="hidden" name="ids" value="" class="id-input">
                            {{ form }}
                            <a href="">
                                <input type="submit" value="Assign" id="ram"/></a>
                        </div>
                        </form>
                        <a href="{% static 'media/abc.csv' %}" download="abc.csv"><button>Download Leads</button></a>
                        <!--<a href="{% url 'leads:upload_csv' %}">-->
                            <button type="button" data-toggle="modal" data-target="#exampleModal2" class="upload1" >Import Leads</button>
                        <!--</a>-->
                    </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel2">Project Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-2">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>-->
      </div>
    </div>
  </div>
</div>


{% endblock page-content %}



{% block extra-script %}
<script>
$(function(){
    $('.chk_selector').click(function(){
        if($(this).prop('checked') == true){
            var id = $(this).data('id');


            var value = $('.id-input').val();
            if(value != ''){
                value = value + ',';
            }
            var tmp = value + id;
            $('.id-input').val(tmp);
        }
        else{
            var temp = $(this).attr('data-id');
            var value = $('.id-input').val();
            var tempVal = value.split(",");

            tempVal.splice(tempVal.indexOf(temp),1);
            tempVal.join(',');
            $('.id-input').val(tempVal);
        }
    });
});

$(document).ready(function() {


        var $button = $("#ram").hide(),
            $cbs = $('.chk_selector').click(function() {
                $button.toggle( $cbs.is(":checked") );
            });


    $('.edit').click(function(){

        var input = $(this).parents('tr').children().children();
        var tr = input[0];
        var id =($(tr).attr('data-id'));
        $.ajax({url: "../edit/" + id , success:function(data){
            $('.modal-body').html(data);
        }});
    });
    $('.upload1').click(function(e){
        e.preventDefault();
         $.ajax({url:'../upload/csv/',success:function(data){

            $('.modal-body-2').html(data);

         }});

    });

    $('.delete').click(function(){

         var input = $(this).parents('tr').children().children();
        var tr = input[0];
        var id =($(tr).attr('data-id'));



        $.ajax({url: "../delete/" + id , success:function(data){
            $('.modal-body-1').html(data);
        }});
    });

});


</script>
{% endblock extra-script %}