{% extends 'static/production/index.html' %}



{% block page-content %}
<div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">


            <form method="post">

                {% csrf_token %}
            <div>
                        {{ form.contact_number.label }}
                        {{ form.contact_number }}
                        {{ form.contact_number.errors }}
                    </div><br>

                    <div>
                        {{ form.company_name.label }}
                        {{ form.company_name }}
                        {{ form.company_name.errors }}
                    </div><br>

                    <div>
                        {{ form.contact_person.label }}
                        {{ form.contact_person }}
                        {{ form.contact_person.errors }}

                    </div><br>

                    <div>
                        {{ form.source.label }}
                        {{ form.source }}
                        {{ form.source.errors }}
                    </div><br>

                    <div>
                        {{ form.source_type.label }}
                        {{ form.source_type }}
                        {{ form.source_type.errors }}
                    </div><br>


                    <div>

                       {{ form.description.label }}
                       {{ form.description }}
                       {{ form.description.errors }}
                    </div><br>

                    <div>
                        {{ form.email.label }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                <br>

                    <div>
                        {{ form.website.label }}
                        {{ form.website }}
                        {{ form.website.errors }}
                    </div><br>


                <input type="submit" value="Submit" />
            </form>

          </div>
          <!-- /top tiles -->

          <div class="row">

          </div>
          <br />

          <div class="row">

          </div>


          <div class="row">

          </div>
        </div>


{% endblock page-content %}



