<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
<div class="contianer-fluid text-center" role="main">

            <form method="post" action="{% url 'leads:LeadEdit' leads.id %}" id="myform" data-id="{{leads.id}}">

                {% csrf_token %}
                    <div id="1">
                        {{ form.contact_number.label }}
                        {{ form.contact_number }}
                        <p id="contact_number"> </p>
                    </div><br>

                    <div>
                        {{ form.company_name.label }}
                        {{ form.company_name }}
                       <p id="company_name"> </p>
                    </div><br>

                    <div>
                        {{ form.contact_person.label }}
                        {{ form.contact_person }}
                           <p id="contact_person"> </p>
                    </div><br>

                    <div>
                        {{ form.source.label }}
                        {{ form.source }}
                        <p id="source"> </p>
                    </div><br>

                    <div>
                        {{ form.source_type.label }}
                        {{ form.source_type }}
                      <p id="source_type"> </p>
                    </div><br>


                    <div>
                       {{ form.description.label }}
                       {{ form.description }}
                      <p id="description"> </p>
                    </div><br>

                    <div>
                        {{ form.email.label }}
                        {{ form.email }}
                        <p id="email"> </p>
                    </div><br>

                    <div>
                        {{ form.website.label }}
                        {{ form.website }}
                     <p id="website"> </p>
                    </div><br>
                <input type="submit" id="submit" value="Submit" />
                <!--<button type="button" id="btn">Submit</button>-->
            </form>
    </div>
    </body>
</html>
 <!--if(a){-->
        <!--$.ajax({url: "../edit/" + id , success:function(data){-->
            <!--$('.modal-body').html(data);-->
            <!--}});-->
            <!--};-->
            <!--});-->
<script>
        $('#myform').submit(function(event){
               event.preventDefault();
                var id = $('#myform').data('id');


                $.ajax({
                url:"../editajax/" + id,
                type: 'POST',
                data:$('#myform').serialize(),
                beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
                },
                success:function(data){
                    console.log(data);
                    if (data.true){
                        window.location='http://127.0.0.1:8000/leads/details/';
                    }
                    else {
                    if (data.error.contact_number){
                    $('#contact_number').html('<li>'+data.error.contact_number+ '</li>');}
                    else{
                    console.log('devesh');
                    $('#contact_number').empty();
                    }

                     if (data.error.company_name){
                    $('#company_name').html('<li>'+data.error.company_name+ '</li>');}
                    else{
                    console.log('devesh mah');
                    $('#company_name').empty();

                    }

                     if (data.error.contact_person){
                     $('#contact_person').html('<li>'+data.error.contact_person+ '</li>');}
                     else{
                     console.log('devesh maheshwari');
                     $('#contact_person').empty();
                     }
                      if (data.error.source){
                     $('#source').html('<li>'+data.error.source+ '</li>');}
                     else{
                     $('#source').empty();
                     }
                      if (data.error.source_type){
                     $('#source_type').html('<li>'+data.error.source_type+ '</li>');}
                     else{
                     $('#source_type').empty();
                     }
                      if (data.error.email){
                     $('#email').html('<li>'+data.error.email+ '</li>');}
                     else{
                     $('#email').empty();
                     }
                      if (data.error.website){
                      $('#website').html('<li>'+data.error.website+ '</li>');}
                      else{
                      $('#website').empty();
                      }


                    }

               },});
        });
</script>










