*{
    font-family: "Lato";
}

.navbar{
    padding-top:0;
    padding-bottom:0;
}

.sidebar{
    height:100%;
    position:fixed;
    width:230px;
    background-color: #136db4;
    overflow-x: hidden;
    transition: all 0.1s ease-in-out;
}

.logo{
    width:initial;
    margin-left:65px;
    margin-right:65px;
    margin-bottom:25px;
    margin-top:25px;
    transition: all .1s ease-in-out; 
}

.adjust-size{
    height:40px;
    height:40px;
    margin-top: 65px;
    margin-left: 25px;
    margin-right:25px;
    margin-bottom:15px;
    transition: all .1s ease-in-out; 
}

.navbar-toggler-icon{
    width:10px;
    height:10px;
    border: solid #136db4;
    border-width:0 1px 1px 0 ;
    transform: rotate(45deg);
    margin-bottom:8px;
}

.navbar-toggler{
    border-radius:0;
    border-color:#136db4;
}

.sidebar ul{
    border-top: 1px solid #5a99cb;
    position: relative;
}

.sidebar a{
    text-decoration:none;
}

.sidebar li:hover{
    background-color: #2b7cbc;
    border-left: 3px solid #42b7ff;
}


.sidebar li{
    right:0;
    left:0;
    position:absolute;
    z-index:1;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;  
    padding-top:18px; 
    padding-bottom:18px; 
    padding-left: 30px;
    transition: all 0.2s ease-in-out;
}

.sidebar li span{
    margin-left:25px;
    margin-top:5px;
    transition: all 0.2s ease-in-out; 
}

.active{
    background-color: #2b7cbc;
    border-left: 3px solid #42b7ff;
}

.main{
    margin-left:230px;
    position:relative;
    transition: all 0.1s ease-in-out;
}

nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);   
}

.bar-icon{
    margin-bottom: 0px; 
    position:absolute;
    right:20px;
    top:15px;
}

.bar-1{
    margin:6px 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(-45deg);  
}

.bar-2{
    opacity:0;
    transition: all 0.2s ease-in-out;
}

.bar-3{
    margin:6px 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(45deg) translate(-12px, -11px); 
}

.bar-1-active{
    width:30px;
    height:2px; 
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.bar-2-active{
    width:30px;
    height:2px; 
    background-color: #fff;
    margin:6px 0;
    transition: all 0.2s ease-in-out;
}

.bar-3-active{
    width:30px;
    height:2px; 
    background-color: #fff;
    margin:6px 0;
    transition: all 0.2s ease-in-out;
}

.collapse-sidebar{
    width:80px;
    transition: all 0.2s ease-in-out;
}



.expand-nav{
    margin-left:80px;
    transition: all 0.2s ease-in-out;
}

.search{
    padding-top:10px;
}

.nav-icon{
    padding-top:7px;
}

input[type='search']{
    background-image: url('../images/search.svg');
    background-repeat: no-repeat no-repeat;
    background-position: 510px 12px;
    background-color:#f2f5fa;
    width:550px;
    border-color:transparent;
    border-radius:100px;
}

.profile-bg{
    width:41px;
    height:41.5px;
    border-radius:100%;
    display:inline-block;
}


#navbarDropdown:after{
    display:none;   
}

.right-header{
    margin-right:90px;
}

.right-header li{
    padding-left:15px;
}

.dropdown-icon{
    margin-left: 20px;
}

.dropdown-line{
    margin-right:20px;
}

.dropdown-menu a{
    padding:10px 20px;
}

#my-img{
    width: 25px;
    height:25px;
}

#edit-profile{
    color: #aaaaaa;
}

#edit-profile ~ span{
    margin-left:10px;
}

.fas{
    color: #aaaaaa;
}

.fas ~ span{
    margin-left:13px;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #e0e6e9;
    border: 4px solid transparent;
    background-clip: content-box;  
}


::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border: 1px solid #e0e6e9;
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.row{
    margin-right:0;
    margin-left:0;
}

.col{
    padding-right:0;
    padding-left:0;
}


.main-content{
    width:80%;
    margin: 100px auto;
}

.card-header{
    background-color:white;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}

.card{
    box-shadow: 2.5px 4.33px 10px rgba(0,0,0,0.05);
    background-color: #ffffff;
    border: 1px solid #dfe5e9;
    border-radius:0;
}

.card-body button{
    margin-top:40px;
    border-radius: 4px;
}

.request-form{
    margin-right:188px;
    /* width: 530px; */
    height: 581px;
}

.request-form h5{
    font-size: 19.245px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.request-form label{
    font-size: 13px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
}

textarea{
    height:100px;
    overflow-y:auto;
    resize: none;
}

.form-group .col-md-6{
    padding-right:0;
    padding-left:0;
}

.form-group input, .form-group textarea{
    border-radius:0;
}

.form-group button{
    color:white;
    cursor: pointer;  
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(66, 183, 255);
    height: 45px;
    border-color: transparent;
}

::placeholder{
    font-size: 13px;
    font-family: "Lato";
    color: rgb(122, 122, 122);
    line-height: 1.2;
    text-align: left;
}

.leave-display-container{
    padding-right:0;
    padding-left:0;
}

.leave-display{
    width: 370px;
    /* margin-right:288px; */
    margin-bottom:50px;
    box-shadow: none;
}

.leave-display ul li{
    display: inline-block;
}

.leave-display ul li:nth-child(1){
    font-size: 16px;
    color: rgb(122,122,122);
}

.leave-display ul li:nth-child(2){
    
}

.calendar-major-container .col-md-6, .col-md-5{
    padding-right:0;
    padding-left:0;
}

.calendar{
    border-color:transparent;
    box-shadow: none;
}

.holiday-container{
    max-width:297px;
}

.date-container{
    max-width: 320px;
}

.gj-textbox-md{
    border:none;
    border-bottom: none;
    padding-left:10px;
    padding-right: 22px;
}

.gj-datepicker-md{
    margin-right: 10px;
    padding-left:0px;
    border: 1px solid #e0e6e9;
    border-radius: 0;
}

.gj-icon{
    font-family: "Lato" !important;
}

.gj-icon img{
    padding-right:5px;
    padding-bottom:5px;
}

.holidays{
    border-color:transparent;
    background-color:#42b7ff;
    position:relative;
    border-radius:0;
    color:#fff;
    height:100%;
    /* width:297px; */
}

.holidays h6{
    margin-top:23px;
    margin-left:22px;
    border-bottom: 1px solid #fff;
}

.holidays ul{
    margin-top:10px;
}

.holidays:after{
    content: "";
    position:absolute;
    top:0;
    bottom:0;
    background-color:#136db4;
    width:17px;
}

.holidays li{
    font-size: 15px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    padding-bottom:5px;
}



.footer{
    
    background-color: #171612;
    color:white;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

.footer-elements{
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:0px;
}

.footer ul li{
    /* float: left;    */
    display:inline-block;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(187, 187, 187);
    line-height: 1.2;
    text-align: left;
    padding-left:12px;
}


.footer ul li:nth-child(4){
    margin-left:50px;
    font-size: 17px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    
}







@media only screen and (max-width:576px){
    .footer-elements{
        margin: 0 auto;
        width:fit-content;
    }

    .footer ul{
        margin-bottom:0;
    }

    .footer ul li{
        font-size:8px;
    }

    .footer ul li:nth-child(4){
        font-size:12px;
        margin-left:0px;
    }
}