<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Meeting List</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'static/production/index.html' %}

{% block page-content %}
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Hi, Welcome to Project Manager's Task List! </h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Default Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                     {% if user.is_authenticated %}
                        <!--<div height="200">Hello {{ user.username }}</div>-->
                      <div class="row">
                        {% for meeting in meetings %}
                            <div>
                                <p>Opportunity ID: {{ meeting.Opportunity.pk }}</p>
                                <p>Meeting ID: {{ meeting.pk }}</p>
                                <p>Date: {{ meeting.date }}</p>
                                <p>
                                    Assigned To: {{meeting.Opportunity.assigned_to}}
                                </p>
                                <p>
                                    {% if meeting.extras is not NULL %}
                                    Extras:<br/>
                                    <ul>
                                        {% for extra in meeting.extras.all %}
                                            <li>{{ extra.username }}</li>
                                        {% endfor %}
                                    {% endif %}
                                    </ul>
                                </p>
                                <hr/>
                                <hr/>
                            </div>
                            {% endfor %}
                        </div>
                     <a href="{% url 'opportunity:meeting:create_meeting' oppo_id %}"><button type="button">Create Meeting</button></a>
                    {% else %}
                        <div>You don't have permission</div>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock page-content %}




